<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Тестовый проект</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='dist/style.css'>
</head>
<body>
	<section>
		<h2>Поиск товаров по артикулам</h2>
		<div class="js-search">
			<p>Введите артикулы через пробел или с новой строки, например, 123456 123345 1233456</p>
			<form class="search-form">
				<textarea></textarea>
				<p>Не более 1000 артикулов за раз</p>
				<div class="button search-button">Искать</div>
			</form>
		</div>
	</section>
	<script type="template" id="result-template">
			<div class="item-wrapper">
				<p>Результат</p>
				<% items.forEach(function(item) { %>
					<div class="item">
						<p>Артикул: <%= item.sid %></p>
					</div>
				<% }); %>
				<button class="button">Искать ещё</button>
			</div>
	</script>
	<script type="text/javascript" src="dist/js/app.js"></script>
</body>
</html>

