<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Тестовый проект</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='dist/style.css'>
</head>
<body class='js-wrapper'>
	<section class="js-search-items">
		<h2>Поиск товаров по артикулам</h2>
		<div class="js-search">
			<p>Введите артикулы через пробел или с новой строки, например, 123456 123345 1233456</p>
			<form class="search-form">
				<textarea></textarea>
				<p>Не более 1000 артикулов за раз</p>
				<div class="button search-button">Искать</div>
			</form>
		</div>
		<script type="template" id="search-template">
			<p>Введите артикулы через пробел или с новой строки, например, 123456 123345 1233456</p>
			<form class="search-form">
				<textarea></textarea>
				<p>Не более 1000 артикулов за раз</p>
				<div class="button search-button">Искать</div>
			</form>
		</script>
		<script type="template" id="result-template">
			<div class="item-wrapper">
				<p>Результат</p>
				<div class="items">
					<% items.forEach(function(item) { %>
						<div class="item">
							<p><b>Артикул: <%= item.sid %></b></p>
							<p>
								<i><%= item.name %></i> 
								<span class="link js-more-link">Подробнее</span>
							</p>
						</div>
					<% }); %>
				</div>
				<div class="button js-button-more">Искать ещё</div>
			</div>
		</script>
	</section>
	<section class="js-item not_display">
		<div class="js-item-wrapper"></div>
		<script type="template" id="item-template">
			<h1>Название</h1>
			<div class="flex-row item-block">
				<img src="" alt="" class="item-image"/>
				<div class="item-description">
					<div class="price-block">125<sup>00</sup> RUB</div>
					<ul class="tabs">
						<li class="active"><span>Описание</span></li>
						<li><span class="link">Характеристики</span></li>
					</ul>
					<div class="tab-content">
						<p>Описание</p>
					</div>
				</div>
			</div>
		</script>
	</section>
	<script type="text/javascript" src="dist/js/app.js"></script>
</body>
</html>

