body {
  background: #eee;
  box-sizing: border-box;
  color: #424141;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  min-width: 320px;
  padding: 30px;
  text-align: left;
}

section {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  padding: 20px;
}

.items {
  margin: 0 0 15px;
}

.item {
  border: 1px solid #eee;
  margin: 0 0 -1px;
  padding: 10px;
  &:first-child {
    border-radius: 3px 3px 0 0;
  }
  &:last-child {
    border-radius: 0 0 3px 3px;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.flex-row {
  display: flex;
}

.item-block {
  .item-image {
    border-radius: 5px;
    flex-shrink: 0;
    height: auto;
    max-width: 200px;
    margin-right: 10px;
    width: 35%;
  }
  .item-description {
    flex-grow: 1;
    width: 100%;
  }
  .price-block {
    background: #f3faf9;
    display: block;
    font-size: 20px;
    padding: 15px 10px;
  }
}

.tabs {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  li {
    display: inline-block;
    font-weight: bold;
    margin-right: 15px;
    text-transform: uppercase;
    .link {
      color: #1f84db;
      cursor: pointer;
      border-bottom: 1px dashed;
      &:hover  {
        border-color: transparent;
      }
    }
  }
}
