body {
  background: #eee;
  box-sizing: border-box;
  color: #424141;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  min-width: 320px;
  padding: 30px;
  text-align: left;
}

section {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.items {
  margin: 0 0 15px;
}

.item {
  border: 1px solid #eee;
  margin: 0 0 -1px;
  padding: 10px;
  &:first-child {
    border-radius: 3px 3px 0 0;
  }
  &:last-child {
    border-radius: 0 0 3px 3px;
  }
  p {
    margin: 0;
    padding: 0;
  }
}


